body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: monospace;
    border: 3px solid gray;
    background-color: grey;
    margin: 0 583px;
    
}

.popup {
    height: 400px;
    width: 350px;
    border: 3px solid purple;
    background-color: darkblue;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: monospace;
}

.emot {
    position: relative;
    transition: all 0.3s ease-in;
    
}

.emot:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.surat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 999;
    display: none;
    background-color: rgba(123, 63, 0, 0.3)
}

.text {
    background-color: bisque;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
}

.close {
    float: right;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;

}

.ttd {
    text-align: right;
}

.me {
    text-align: right;
}
/* 
body {
    text-align: center;
} */

.p {
    color: aliceblue;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

